<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.venjerlu.gankio">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.READ_LOGS"/>
  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="AllowBackup,GoogleAppIndexingWarning">

    <activity
        android:name=".modules.main.MainActivity"
        android:configChanges="orientation|screenSize"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name=".common.activity.WebActivity"
        android:configChanges="orientation|screenSize"
        />

    <activity android:name=".modules.about.AboutActivity"
        android:configChanges="orientation|screenSize"
        />

    <activity android:name=".modules.gallery.GalleryActivity"
        android:configChanges="orientation|screenSize"
        />

    <activity
        android:name=".modules.search.SearchActivity"
        android:configChanges="orientation|screenSize"
        />

    <meta-data
        android:name="me.venjerlu.gankio.utils.glide.GlideDiskCacheModule"
        android:value="GlideModule"/>

  </application>
</manifest>